span.text.dark {
  color: black!important;
}

header:not(.hero-invisible) .menu-light .open-nav .text {
  color: black;
}

.horizontal-section.text-light.schedule-bg {
  background-image: url("../uploads/a1.jpg");
  margin: 50px 0 0 0;
  background-repeat: no-repeat;
}


.up-a-bit {
  margin-top: -50px;
}

.horizontal-section.inspirational-quote {
  background-image: url("../uploads/foto_x.jpg");
  min-height: 600px;
  background-repeat: none;
  background-position: center center;
}

.horizontal-section.inspirational-quote.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accent-pricing .pricing-table.plain, .text-light .accent-pricing .pricing-table.plain {
  background: #b8cdc4!important;
}

a.sr-button {
  background: white!important;
  color: black!important;
}

blockquote.text-light.center {
  text-align: center;
}
