doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
// [if gt IE 8] <!
html.no-js(lang='en-US')
    // <![endif]
    head
        // DEFAULT META TAGS
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Youyin
        // DEFAULT META TAGS
        // FONTS
        link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,900', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Didact+Gothic:400', rel='stylesheet', type='text/css')
        // FONTS
        // CSS
        // <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        link#default-style-css(rel='stylesheet', href='files/css/style.css', type='text/css', media='all')
        link#wolf-css(rel='stylesheet', href='files/css/wolf.css', type='text/css', media='all')
        link#owlcarousel-css(rel='stylesheet', href='files/css/owl.carousel.css', type='text/css', media='all')
        link#fontawesome-style-css(rel='stylesheet', href='files/css/font-awesome.min.css', type='text/css', media='all')
        link#ionic-icons-style-css(rel='stylesheet', href='files/css/ionicons.css', type='text/css', media='all')
        link#mqueries-style-css(rel='stylesheet', href='files/css/mqueries.css', type='text/css', media='all')
        // CSS
        style(type='text/css').
            #mc_embed_signup{background:transparent; clear:left; font:14px; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        // FAVICON
        link(rel='shortcut icon', href='files/uploads/favicon.png')
        // FAVICON
    body
        // PAGELOADER
        #page-loader
            .page-loader-inner
                .loader
                    strong Loading
        // PAGELOADER
        // PAGE CONTENT
        #page-content
            // HEADER
            header#header
                .header-inner.clearfix
                    #logo.left-float.show-light-logo
                        a#dark-logo.logotype(href='index.html')
                            img(src='files/uploads/logo-small.png', srcset='files/uploads/logo-small.png 1x, files/uploads/logo-small.png 2x', alt='Logo')
                        a#light-logo.logotype(href='index.html')
                            img(src='files/uploads/logo-small.png', srcset='files/uploads/logo-small.png 1x, files/uploads/logo-small.png 2x', alt='Logo')
                    #menu.right-float.clearfix
                        a.open-nav(href='#')
                            span.hamburger
                            span.text.dark Menu
                        nav#main-nav
                            ul
                                li
                                    a(href='index.html') Home
                                li
                                    a(href='classes.html') Classes
                                li
                                    a(href="schedule.html") Schedule
                                li.current-menu-item
                                    a(href="pricing.html") Pricing
                                li
                                    a(href='about.html') About
                                li
                                    a(href='contact.html') Contact
                        // END .header-inner
            // PAGEBODY
            section#page-body.page-small-margin
                .horizontal-section(style='background-color: white;')
                    .fullwidth-content.wrapper
                        .spacer.spacer-regular
                        .column-section.bordered-spaced.clearfix.accent-pricing.text-light
                            .column.one-third.pricing-table.plain
                                .pricing-title
                                    h5.uppercase You Yin
                                    h4.uppercase Drop-In
                                    span.price-period single class
                                .pricing-price
                                    span.price-unit € 9
                                    span.price-period per class
                                ul.pricing-list
                                    li no strings attached
                                .pricing-action
                                    a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                            .column.one-third.pricing-table.plain
                                .pricing-title
                                    h5.uppercase You Yin
                                    h4.uppercase Regular
                                    span.price-period 5 classes
                                .pricing-price
                                    span.price-unit € 40
                                    span.price-period €7 per class
                                ul.pricing-list
                                    li 2 months valid
                                .pricing-action
                                    a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                            .column.one-third.last-col.pricing-table.plain
                                .pricing-title
                                    h5.uppercase You Yin
                                    h4.uppercase Weekly
                                    span.price-period 10 classes
                                .pricing-price
                                    span.price-unit € 70
                                    span.price-period € 6 per class
                                ul.pricing-list
                                    li 3 months valid
                                .pricing-action
                                    a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                        .spacer.spacer-regular
                .horizontal-section(style='background-color: white;')
                    .fullwidth-content.wrapper
                        .spacer.spacer-regular
                            .column-section.bordered-spaced.clearfix.accent-pricing.text-light
                                .column.one-third.pricing-table.plain
                                    .pricing-title
                                        h5.uppercase You Yin
                                        h4.uppercase Intake
                                        span.price-period Private appointment
                                    .pricing-price
                                        span.price-unit € 25
                                        span.price-period per person
                                    ul.pricing-list
                                        li 30 minutes
                                    .pricing-action
                                        a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                                .column.one-third.pricing-table.plain
                                    .pricing-title
                                        h5.uppercase You Yin
                                        h4.uppercase Yoga Coaching
                                        span.price-period Private appointment
                                    .pricing-price
                                        span.price-unit € 40
                                        span.price-period per person
                                    ul.pricing-list
                                        li 45 minutes
                                    .pricing-action
                                        a.sr-button.button-small.button-1.rounded(href='contact.html') Book Class
                        // END .column-section
                .spacer.spacer-regular
                .horizontal-section(style='background-color: #b8cec5;')
                    .horizontal-inner.wrapper-small.align-center
                        i.ion.ion-paper-airplane.ion-4x.colored
                        h4
                            strong Newsletter
                        .spacer.spacer-mini
                        h5.alttitle Stay up to date on the class schedule, workshops and events.
                        .spacer.spacer-small
                        #mc_embed_signup
                            form#mc-embedded-subscribe-form.validate(action='//youyin.us13.list-manage.com/subscribe/post?u=c65bd8f915223b6ed261c34b4&id=d2a9ebe964', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                                #mc_embed_signup_scroll
                                    // <label for="mce-EMAIL">Subscribe to our mailing list</label>
                                    input#mce-EMAIL.email(style='max-width: 260px;', type='email', value='', name='EMAIL', placeholder='email address', required='')
                                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                    div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                        input(type='text', name='b_c65bd8f915223b6ed261c34b4_d2a9ebe964', tabindex='-1', value='')
                                    .spacer.spacer-mini
                                    .clear
                                        input#mc-embedded-subscribe.button.sr-button.sr-button4.small-button.button-1.rounded(type='submit', value='Subscribe', name='subscribe')
                        // End mc_embed_signup
                // END .horizontal-section
            // PAGEBODY
            // FOOTER
            footer
                .footer-inner.wrapper
                    .column-section.clearfix
                        .column.one-half
                            .widget
                                ul.socialmedia-widget
                                    li.facebook
                                        a(href='https://www.facebook.com/youyinyoga')
                                    li.widget.copyright
                                        p
                                            | Phone:
                                            a.footercontact(href='tel:+31622399967') 06 22 39 99 67
                                            |                             &nbsp / &nbsp
                                            |                             Mail:
                                            a.footercontact(href='mailto:info@youyin.nl') info@youyin.nl
                        .column.one-half.last-col.align-right
                            .widget.copyright
                                p
                                    | Design:
                                    a(href='') T. Janmaat
                                    | &nbsp / &nbsp Development:
                                    a(href='') M. Vos
                        a#backtotop(href='#') Back To Top
        // END #page-content
        // PAGE CONTENT
        // SCRIPTS
        script(src='files/js/jquery-2.1.4.min.js')
        script(type='text/javascript', src='files/js/jquery.pace.js')
        script(type='text/javascript', src='files/js/jquery.easing.1.3.js')
        script(type='text/javascript', src='files/js/jquery.easing.compatibility.js')
        script(type='text/javascript', src='files/js/jquery.visible.min.js')
        script(type='text/javascript', src='files/js/tweenMax.js')
        script(type='text/javascript', src='files/js/jquery.backgroundparallax.min.js')
        script(type='text/javascript', src='files/js/jquery.owl.carousel.js')
        script(type='text/javascript', src='files/js/jquery.wolf.min.js')
        script(type='text/javascript', src='files/js/script.js')
        // SCRIPTS
