doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
// [if gt IE 8] <!
html.no-js(lang='en-US')
    // <![endif]
    head
        // DEFAULT META TAGS
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Services | Avoc | Awesome Parallax Template
        // DEFAULT META TAGS
        // FONTS
        link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,900', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700', rel='stylesheet', type='text/css')
        // FONTS
        // CSS
        link#default-style-css(rel='stylesheet', href='files/css/style.css', type='text/css', media='all')
        link#wolf-css(rel='stylesheet', href='files/css/wolf.css', type='text/css', media='all')
        link#fontawesome-style-css(rel='stylesheet', href='files/css/font-awesome.min.css', type='text/css', media='all')
        link#ionic-icons-style-css(rel='stylesheet', href='files/css/ionicons.css', type='text/css', media='all')
        link#mqueries-style-css(rel='stylesheet', href='files/css/mqueries.css', type='text/css', media='all')
        // CSS
        // FAVICON
        link(rel='shortcut icon', href='files/uploads/favicon.png')
        // FAVICON
    body
        // PAGELOADER
        #page-loader
            .page-loader-inner
                .loader
                    strong Loading
        // PAGELOADER
        // PAGE CONTENT
        #page-content
            // HEADER
            header#header
                .header-inner.clearfix
                    #logo.left-float.show-light-logo
                        a#dark-logo.logotype(href='index.html')
                            img(src='files/uploads/logo-avoc-dark.png', srcset='files/uploads/logo-avoc-dark.png 1x, files/uploads/logo-avoc-dark@2x.png 2x', alt='Logo')
                        a#light-logo.logotype(href='index.html')
                            img(src='files/uploads/logo-avoc-light.png', srcset='files/uploads/logo-avoc-light.png 1x, files/uploads/logo-avoc-light@2x.png 2x', alt='Logo')
                    #menu.right-float.clearfix.menu-light
                        a.open-nav(href='#')
                            span.hamburger
                            span.text Menu
                        nav#main-nav
                            ul
                                li
                                    a(href='index.html') Home
                                    ul.submenu
                                        li
                                            a(href='index.html')
                                                | Portfolio
                                                em Main
                                        li
                                            a(href='index-creative.html')
                                                | Portfolio
                                                em Creative
                                        li
                                            a(href='index-photography.html') Photography
                                        li
                                            a(href='index-masonry.html') Classic Masonry
                                        li
                                            a(href='index-agency.html') Agency
                                li.current-menu-item
                                    a(href='about.html') Pages
                                    ul.submenu
                                        li
                                            a(href='about.html')
                                                | About
                                                em classic
                                        li
                                            a(href='about-creative.html')
                                                | About
                                                em creative
                                        li
                                            a(href='about-minimal.html')
                                                | About
                                                em bold minimal
                                        li.current-menu-item
                                            a(href='services.html') Services
                                        li
                                            a(href='404.html') 404 Page
                                li
                                    a(href='blog.html') Blog
                                li
                                    a(href='header-features.html') Features
                                    ul.submenu
                                        li
                                            a(href='general-elements.html') General Elements
                                        li
                                            a(href='header-footer-options.html') Header / Footer
                                        li
                                            a(href='hero-options.html') Hero Options
                                li
                                    a(href='contact.html') Contact
                // END .header-inner
            // HEADER
            // HERO
            section#hero.hero-full.parallax-section.text-light(data-parallax-image='files/uploads/1680x1100.jpg')
                .page-title
                    h1
                        strong Services
                a#scroll-down(href='#') Scroll Down
            // HERO
            // PAGEBODY
            section#page-body
                .spacer.spacer-small
                .wrapper
                    .wolf-grid.clearfix
                        .wolf-item.wfull.wright.wolf-text(data-speed='1.3')
                            .wolf-item-inner(style='width:60%;')
                                .wolf-media
                                    img(style='max-width: 300px;', src='files/uploads/harp.png', alt='SEO NAME')
                                .wolf-caption(style='width:50%;')
                                    h3
                                        strong Branding
                                    h5.alttitle Expresses your personality
                                    p
                                        | Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        .wolf-item.wfull.wleft.wolf-text(data-speed='1.6')
                            .wolf-item-inner(style='width:60%;')
                                .wolf-media
                                    img(src='files/uploads/600x400-light.jpg', alt='SEO NAME')
                                .wolf-caption(style='width:50%;')
                                    h3
                                        strong Photography
                                    h5.alttitle Worth a thousand words
                                    p
                                        | Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                    p
                                        a.sr-button.sr-button2.mini-button(href='portfolio-single-2.html') See Example
                        .wolf-item.wfull.wright.wolf-text(data-speed='0.9')
                            .wolf-item-inner(style='max-width:60%;')
                                .wolf-media
                                    img(src='files/uploads/600x400-light.jpg', alt='SEO NAME')
                                .wolf-caption(style='width:50%;')
                                    h3
                                        strong Print
                                    h5.alttitle Top notch quality
                                    p
                                        | Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                    p
                                        a.sr-button.sr-button2.mini-button(href='portfolio-single-3.html') See Example
                    // END .wolf-grid
                    h2.align-center
                        strong And much more
                    .column-section.clearfix
                        .column.one-third.align-center
                            i.ion.ion-ios-monitor-outline.ion-4x.colored
                            h5 Web Design
                            p
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        .column.one-third.align-center
                            i.ion.ion-ios-videocam-outline.ion-4x.colored
                            h5 Video production
                            p
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        .column.one-third.last-col.align-center
                            i.ion.ion-ios-wineglass-outline.ion-4x.colored
                            h5 Event Managment
                            p
                                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    .spacer.spacer-small
                    h5.alttitle.align-center Get in touch with us
                    p.align-center
                        a.sr-button.sr-button2(href='#') Contact
                // END .wrapper
                .spacer.spacer-big
            // PAGEBODY
            // FOOTER
            footer
                .footer-inner.align-center.wrapper
                    .widget
                        ul.socialmedia-widget
                            li.facebook
                                a(href='#')
                            li.twitter
                                a(href='#')
                            li.dribbble
                                a(href='#')
                            li.behance
                                a(href='#')
                            li.instagram
                                a(href='#')
                    .widget.copyright
                        p
                            | Copyright © 2014 by Avoc
                            br
                            |                 Made with Love by
                            a(href='http://www.spab-rice.com') Spab Rice
                    a#backtotop(href='#') Back To Top
            // FOOTER
        // END #page-content
        // PAGE CONTENT
        // SCRIPTS
        script(src='files/js/jquery-2.1.4.min.js')
        script(type='text/javascript', src='files/js/jquery.pace.js')
        script(type='text/javascript', src='files/js/jquery.easing.1.3.js')
        script(type='text/javascript', src='files/js/jquery.easing.compatibility.js')
        script(type='text/javascript', src='files/js/jquery.visible.min.js')
        script(type='text/javascript', src='files/js/tweenMax.js')
        script(type='text/javascript', src='files/js/jquery.backgroundparallax.min.js')
        script(type='text/javascript', src='files/js/jquery.wolf.min.js')
        script(type='text/javascript', src='files/js/script.js')
        // SCRIPTS
